*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background: rgb(32, 32, 31);
	color: rgb(255, 255, 255);
	font-family: 'Montserrat Alternates', sans-serif;
}
.container{
	width: 96%;
	margin: 4%;
}

/* Estilo de la navegacion */
a{
	color: white;
	text-decoration: none;
}
ul{
	list-style: none;
}
.menu{
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 20px 20px;
}
.logo{
	width: 250px;
}
.menu ul{
	display: flex;
}
.menu ul li{
	padding: 20px;
}
.menu ul li a:hover{
	border-bottom: 2px solid #ffffff;
}
.linea1{
    margin-top: 50px;
}


/* Nuevo formulario */
.volver-perfilA{
	color: rgb(25, 26, 23);
	margin-left: 1280px;
	font-size: 20px;
}
.contenedor-editar{
	width: 100%;
	padding: 15px;
}
.formulario-login{
	background: whitesmoke;
	color: rgb(46, 46, 42);
	margin-top: 80px;
}
.formulario-login h1{
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
input[type="text"],
    [type="password"],
    [type="email"]{
	font-size: 20px;
	width: 88%;
	padding: 10px;
	border: none;
}
#boton-iniciar-sesion{
	width: 100%;
	height: 50px;
	background: gold;
	font-size: 20px;
	border-radius: 4%;
	border-color: rgb(25, 26, 24);
	cursor: pointer;
	font-family: 'Montserrat Alternates', sans-serif;
}
#boton-iniciar-sesion:hover{
	background: goldenrod;
}
.input-contenedor{
	margin-bottom: 15px;
	border: 1px solid whitesmoke;
}
.icon-editarA{
	min-width: 50px;
	text-align: center;
}
.guardar-cambios-perfilA{
	border: none;
	width: 100%;
	color: whitesmoke;
	font-size: 20px;
	background: gold;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.guardar-cambios-perfilA:hover{
	background: goldenrod;
}
.formulario-abajo1{
    color: rgb(27, 27, 26);
    margin-top: 300px;
    margin-left: 80px;
}
.formulario-abajo2{
    color: rgb(27, 27, 26);
    margin-top: 500px;
    margin-left: 120px;
}
.formulario-abajo3{
    color: rgb(27, 27, 26);
    margin-top: 500px;
    margin-left: 200px;
}

@media(min-width:768px){
	.formulario-login{
		margin: auto;
        width: 500px;
        height: 480px;
		margin-top: 150px;
		border-radius: 2%;
		margin-bottom: 50px;
	}
}