*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background: whitesmoke;
	color: rgb(26, 25, 23);
	font-family: 'Montserrat Alternates', sans-serif;
}

.container{
	width: 96%;
	margin: 4%;
}

/* Estilo de la navegacion */
a{
	color: whitesmoke;
	text-decoration: none;
}
ul{
	list-style: none;
}
.menuNav{
	background: rgb(44, 44, 42);
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 20px 20px;
}
.logo{
	width: 250px;
}
.menuNav ul{
	margin-left: 800px;
	display: flex;
}
.menuNav ul li{
	padding: 20px;
}
.menuNav ul li a:hover{
	border-bottom: 2px solid #ffffff;
}
/* Menu Desplegable*/

.logoAdminI{
	width: 200px;	
}
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background:  rgb(37, 37, 35);
	transition: all .5s ease;
}
.sidebar header{
	font-size: 22px;
	color: black;
	text-align: center;
	background: rgb(37, 37, 35);
	user-select: none;
	
}
.sidebar .menuAdmin a{
	display: block;
	height: 100%;
	width: 100%;
	font-size: 18px;
	color: rgb(238, 230, 223);
	padding-left: 10px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition: .4s;
}
.sidebar ul{
	padding: 5px;
}
.menuAdmin li:hover a{
	padding-left: 20px;
}
.menuAdmin li ul li{
	background: rgb(58, 57, 49);
}
.sidebar ul a i{
	margin-right: 8px;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: rgb(14, 13, 13);
	border-radius: 3px;
}
label #btn{
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: whitesmoke;
	padding: 6px 12px;
	transition: all .5s;
}
label #cancel{
	z-index: 1111;
	left: -215px;
	top: 17px;
	font-size: 20px;
	color: whitesmoke;
	padding: 3px 6px;
	transition: all .5s ease;
}
#check:checked ~ .sidebar{
	left: 0;
}
#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked ~ label #cancel{
	left: 215px;
}
#check:checked ~ header #tablaResR{
	margin-left: 250px;
}
/* Tablas */
header{
	padding-left: 50px ;
}
#tReservaR{
	padding-top: 50px;
	text-align: center;
}
.link-editar{
	color: rgb(255, 17, 0);
	margin-left: 25px;
}
table{
	margin-left: 100px;
	margin-top: 50px;
	text-align: left;
	width: 1000px;
	height: 400px;
	border: solid 1px rgb(36, 35, 33);
	background: #f8f8f6;
	color: rgb(20, 20, 19);
	border-collapse: collapse ;
	transition: all .5s;
}
th, td{
	border: solid 2px #242222;
	
}
thead{
	background: rgb(235, 165, 27);
	color: rgb(41, 39, 35);
	border-bottom: solid 5px #494949;
	padding: 20px;
}
tr:nth-child(even){
	background-color: rgb(180, 180, 180);
}
.parteInferiorReserv #Siguiente{
	margin-left: 1200px;
	font-size: 20px;
}
/* Parte ingerior */
#boton-añadir{
	background: rgb(0, 140, 255);
	color: white;
	display: inline-block;
	font-size: 15px;
	padding: 10px 0px;
	width: 170px;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 2px rgb(0, 34, 185);
	margin-left: 450px;
	margin-top: 40px;
}
#boton-graficasR span{
	margin-right: 10px;
}
#boton-graficas-inventario{
	background: rgb(0, 255, 76);
	color: white;
	display: inline-block;
	font-size: 15px;
	padding: 10px 0px;
	width: 170px;
	text-decoration: none;
	text-align: center;
	box-shadow: 2px 2px 2px green;
	margin-left: 30px;
	margin-top: 40px;
}
.parteInferiorReserv a i{
	margin-right: 10px;
}
.parteInferiorReserv{
	margin-bottom: 70px;
}